!!!
%html{"ng-app" => "photomatonApp"}
  %head
    %meta{"charset" => "utf-8"}
    %meta{"http-equiv" => "X-UA-Compatible", "content" => "IE=Edge,chrome=1"}
    %meta{"name" => "viewport", "content" => "width=device-width, initial-scale=1.0"}
    %title= data.page.title || ""
    %meta{"name" =>"description", "content" => ""}
    %script{"src" => "https://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"}
    = javascript_include_tag "application"
    = stylesheet_link_tag "application", :media => "all"



  %body{"class" => page_classes, "ng-controller" =>"AppController"}
    .bg{"class" => "{{active_background}}"  }
    .container
      .row-fluid

        .span4
          = yield
        .span8
          .gallery
            %ul.nav.nav-pills
              %li{ "ng-repeat" => "photo in photoset.photos"}
                %img{"src" => "{{photo.large_square}}" }
            .pagination
              %a{"href" => "#", "ng-click" => "backPage(photoset)" }
                back
              %a{"href" => "#", "ng-click" => "nextPage(photoset)" }
                next
                
      
    %footer
      %p 
        cdeliens dev © 2013
    #preload
      = image_tag "backgrounds/bg1.jpg"
      = image_tag "backgrounds/bg2.jpg"
      = image_tag "backgrounds/bg3.jpg"
